import React, { Component } from 'react';

class MySelect extends Component {
	render() {
		return <div className="MySelect"></div>;
	}
}

ReactDOM.render(<MySelect />, document.getElementById('app'));
